.parent {
  background-color: rgb(211, 211, 211);
  border-radius: 8px;
  padding: .5em;
  margin: .5em;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
  max-width: 400px;
}

.parent header {  
  color: rgb(0, 43, 56);
  font-weight: bold;
  margin-bottom: .5em;
}
