.wrapper {
  background: #F0F0F0;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
    "header"
    "nav"
    "content"
    "sidebar"
    "footer";
}
.header {
  grid-area: header;
  background: #c3c3c3;
  padding: 1rem;
  box-shadow: 0px 5px 5px 0px rgba(143,143,143,1);
}
.content {
  grid-area: content;
  border: 1px solid gray;
  padding: 1rem;
}
.nav {
  grid-area: nav;
}
.sidebar {
  grid-area: sidebar;
  margin-right: 1em;
}
.footer {
  grid-area: footer;
  background: linear-gradient(to bottom, darkgray, #222 10%, #aaa 80%, #333 95%);
  color: white;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style: none;
  padding-inline-start: 1em;
}
.nav ul li {
  padding: .2rem 0;
}
.nav ul li::before {
  content: '> ';
  position: relative;
  opacity: 0;
  left: -20px;
  transition: all .3s ease-in-out;
}
.nav ul li:hover::before {
  content: '> ';
  opacity: 1;
  left: 0px;
}

/* Mobile phone */
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header  header"
      "nav     nav"
      "content content"
      "sidebar sidebar"
      "footer  footer";
  }
  .nav ul {
    justify-content: space-between;
  }
}

/* Desktop and possibly iPad */
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1.5fr 4fr 1fr;
    grid-template-areas: 
      "header header  header"
      "nav    content sidebar"
      "nav    content sidebar"
      "footer footer  footer"
   }
   .nav ul {
     flex-direction: column;
   }
}
